<div class="modal-header">
  <h4 class="modal-title ml-auto pl-5" id="exampleModalLabel">
    <span>{{config.title}}</span>
  </h4>
  <button type="button" class="close pull-right" (click)="bsModalRef.hide()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  Confirm your action to proceed with the deletion of the user account.
</div>
<div class="modal-footer d-flex justify-content-center m-3">
  <button type="submit" class="btn btn-primary" (click)="onConfirm()">{{config.confirm}}</button>
  <button type="button" class="btn btn-dark btn-pill" (click)="onCancel()">{{config.cancel}}</button>
</div>
