<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Dashboard</li>
    <li class="breadcrumb-item active" aria-current="page">Users</li>
  </ol>
</nav>
<div class="card">
  <div class="card-body">
    <div class="row justify-content-between align-items-center mb-1">
      <div class="col-4">
        <h5 class="card-title">Users list</h5>
      </div>
      <div class="row row-4 justify-content-end">
        <div class="col">
          <input class="form-control" placeholder="Search" (keyup)="emitSearch($event)">
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary" routerLink="user-management">Create new
            user</button>
        </div>
      </div>
    </div>
    <div class="row">
      <app-users-datatable class="col" *ngIf="usersLoaded" [userList]="users" [searchValue]="searchSubject.asObservable()" ></app-users-datatable>
    </div>
  </div>
</div>
